/* APP **/
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 20%;
    z-index: -1;
}

/* LANDING PAGE ON PAGE LOAD */

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landing-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#landing-page-header img {
    margin: 56% 0 0 3%;
}

#landing-page h1 {
    font-family: 'Satisfy', cursive;
    font-size: 7.8em;
    margin: 2.5em 0 -10px 0;
    animation-name: font-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#landing-page h4 {
    font-size: 1.4em;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}

#landing-page h5 {
    font-size: 1em;
    padding: 20px;
    margin: 0px;
    font-style: italic;
}

#landing-page h5:hover {
    color: rgb(42, 6, 221);
}

#add-cohort-form input[type="text"]{
    border: none;
    background-color: rgb(244, 246, 255);
    padding: 0.3em;
    width: 100%;
    margin: 3px;
}

#add-cohort-form input::placeholder {
    color: gray;
    font-style: italic;
}

#add-cohort-button {
    font-style: italic;
    font-weight: 700;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 10px 0 0 0;
}

#add-cohort-button:hover {
    color: rgb(17, 60, 232)
}

@keyframes font-color {
    0%   {color: rgb(0, 0, 0);}
    50%  {color: rgb(17, 60, 232);}
    100% {color: rgb(0, 0, 0);}
  }
  

/* LANDING PAGE ON STUDENT LOAD */

#full-width {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#full-width h1 {
    position: fixed;
    font-family: 'Satisfy', cursive;
    font-size: 12em;
    left: -200px;
    top: 80px;
    animation-name: font-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: -1;
    transform: rotate(-90deg);
    opacity: 80%;
}

#full-width h4 {
    font-size: 1.2em;
    font-style: italic;
    margin: 1% 1% 1% 30%;
}

#full-width h5 {
    display: none;
}


/* STUDENT LIST */

#student-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;
    max-width: 100%;
}

/* STUDENT CARDS */

#student-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#student-card {
    text-align: center;
    width: 40em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.777);
    box-shadow: 1px 1px 1em rgba(152, 183, 211, 0.526);
    padding: 1em;
}

#student-card:hover {
    box-shadow: 1px 1px 1em rgb(142, 172, 199);

}

#student-card #front-card-text {
    width: 50%
}

#student-card #front-card-text #name {
    font-family: 'Caveat', cursive;
    font-size: 3em;
}

#student-card img {
    max-width: 60%;
}

#back-card-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 3em;
    font-size: 1em;
}

#back-card-form form input { 
    color: grey;
    font-style: italic;
};


/* BUTTONS ON STUDENT CONTAINER */

#student-buttons {
    left: 100px;
}

#delete-cohort-button {
    background-image: url(./images/kapow2.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 8.5em;
    width: 8.5em;
    opacity: 60%;
    position: relative;
    bottom: 0%;
    right: -50%;
}

#delete-cohort-button h3 {
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: 43%;
    color: white;
    z-index: 1;
}

#delete-cohort-button:hover {
    opacity: 100%;
}

/* ADD NEW STUDENT CARD */

#add-front-card {
    background-image: url(./images/kapow.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 8em;
    width: 8em;
    opacity: 60%;
    margin-top: 2em;
    position: absolute;
    top: 5%;
    right: 5%;
}

#add-front-card h3 {
    font-family: 'Caveat', cursive;
    line-height: 20px;
    font-size: 1.4em;
    text-align: center;
    position: relative;
    top: 18%;
}

#add-front-card:hover {
    opacity: 100%;
}

#add-back-card form {
    background-color: rgba(240, 248, 255, 0.833);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 9%;
    right: 2%;
    width: 200px;
}




/* NEW: DROPDOWN */
#cohort-drop-down input{
    border: none;
}

/* NEW: FRONT STUDENT CARD  */
#student-card #front-card-text div {
    padding: 7px;
}

#student-card #front-card-text img {
   margin-right: 5px;
}

#student-card #front-card-text button {
    border: none;
    width: 80px;
    background-color: transparent;
    color: rgb(17, 60, 232);
    font-weight: bold;
    font-style: italic;
    margin: 30px 8px 0 0;
}

#student-card #front-card-text button:hover {
    background-color: rgb(17, 60, 232);
    color: white;
}



/* NEW: UPDATE FORM  */

#back-card-form form {
    font-size: 0.9em;
    margin: 1em 4.8em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
}

#back-card-form form input{
    border: none;
    padding: 0.3em;
    width: 100%;
    margin-bottom: 8px;
    font-size: 0.9em;
}

#back-card-form form textarea {
    border: none;
    width: 100%;
    
}

#back-card-form form input[type="submit"] {
    border: none;
    width: 20%;
    background-color: rgb(160, 160, 160);
    color: white;
    margin-top: 5%;
}

#back-card-form form input[type="submit"]:hover {
    background-color: rgb(17, 60, 232);
}


/* NEW: FOOTER:  */

#footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

/* NEW: ADD STUDENT FORM  */

#new-studentform-container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 0 0 0;
}

#new-studentform-container h3 {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

#new-studentform-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    background-color: rgba(240, 248, 255, 0.777);
    box-shadow: 1px 1px 1em rgba(152, 183, 211, 0.526);
    padding: 1em;
    font-style: italic;
}

#new-studentform-container form input{
    border: none;
    padding: 0.3em;
    width: 80%;
    margin-bottom: 15px;
}

#new-studentform-container form input::placeholder{
    font-style: italic;
}


#new-studentform-container form textarea {
    border: none;
    padding: 0.3em;
    width: 80%;
    margin: 3px;
}

#new-studentform-container form input[type="submit"] {
    border: none;
    width: 20%;
    background-color: rgb(160, 160, 160);
    color: white;
    margin-top: 5%;
}

#new-studentform-container form input[type="submit"]:hover {
    background-color: rgb(17, 60, 232);
}

.nvm-button {
    border: none;
    width: 20%;
    /* margin: 0.8em; */
    padding: 0.3em;
    background-color: rgb(160, 160, 160);
    color: white;
}

.nvm-button:hover {
    background-color: rgb(17, 60, 232);
}


